@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Carousel arrows */
.react-multiple-carousel__arrow {
  border-radius: 0;
  min-width: 30px;
  min-height: 50px;
}
.react-multiple-carousel__arrow--left {
  left: 0px;
  background-color: white;
}
.react-multiple-carousel__arrow--right {
  right: 0px;
  background-color: white;
}

.react-multiple-carousel__arrow::before {
  color: #252525;
}

.react-multiple-carousel__arrow:hover {
  background: #108d41;
}
.react-multiple-carousel__arrow:hover::before {
  color: white;
}

@media only screen and (max-width: 575px) {
  .react-multiple-carousel__arrow {
    min-width: 20px;
    min-height: 30px;
  }
}
/* Carousel arrows */

/* -------------------------Home------------------------- */
/* =====Banner===== */
.home-banner .react-multiple-carousel__arrow {
  border-radius: 0;
  min-width: 30px;
  min-height: 50px;
}
.home-banner .react-multiple-carousel__arrow--left {
  left: 5px;
}
.home-banner .react-multiple-carousel__arrow--right {
  right: 5px;
}

@media only screen and (max-width: 575px) {
  .home-banner .react-multiple-carousel__arrow {
    border-radius: 0;
    min-width: 20px;
    min-height: 30px;
  }
  .home-banner .react-multiple-carousel__arrow::before {
    font-size: 12px;
  }
}

/* =====Categories Button===== */
.left-to-right-hover {
  background-image: linear-gradient(to right, transparent 50%, #108d41 50%);
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position 0.5s ease-in-out; /* Adjust transition as desired */
}

.left-to-right-hover:hover {
  background-position: -100% 0; /* Shift background position to create fill effect */
}
/* -------------------------Book Card------------------------- */
.book-card-image:hover button {
  display: block;
}

/* ---------------------Filter scrollbar--------------------- */
.filter {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1;
  }
}
::-webkit-scrollbar-thumb {
  background: #9f9f9f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
