@tailwind base;
@tailwind components;
@tailwind utilities;

/* Admin Layout Active Navlink CSS */
table tr:nth-child(even) {
  background-color: #e1e1e1;
}

.active {
  background-color: rgb(30 41 59);
}
.active a {
  color: white;
}

.pagination-active {
  background-color: #108d41;
  border: 1px solid #108d41;
  color: #fff;
}
